html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffb0;
}

/* Utilidades */
.container-login {
  background-color: #ffffb0;
  height: 100vh;
}
.cafeDiv {
  background-image: url("../img/granoa.PNG");
  padding: 22%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 35%;
}
.logo {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.logBox {
  width: 90%;
  height: 30%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: #e0d49652;
  box-shadow: rgba(0, 0, 0, 0.25);

  /*box-shadow: 10px 10px 10px #c0a87c;
  border-color: #c0a87c;*/
}
.fondoinput {
  background-color: #c0a87c;
  height: 15%;
  width: 80%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.uBox {
  background-color: #c0a87c;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.psBox {
  background-color: #c0a87c;
  border-radius: 5%;
  width: 100%;
  height: 100%;
}
/*.granos {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}*/
.btngoogle {
  background-color: #c0a87c;
  height: 5%;
  width: 80%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
}
.body {
  background-color: #ffffb0;
}
.align {
  margin-left: 10%;
  margin-bottom: 0%;
  color: #8c4c17;
  font-weight: 400;
}
.logText {
  display: inline-table;
  color: #8c4c17;
  font-weight: 700;
  margin-left: 6%;
}
.btngoogle {
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
  align-items: center;
}
.btngoogle a {
  text-decoration: none;
  color: #ffffb0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.btn-log {
  border: none;
  height: 15%;
  background-color: #c0a87c;
  margin-top: 3%;
  margin-left: 35%;
  border-radius: 5px;
  width: 25%;
  color: lemonchiffon;
  font-size: x-large;
}
.btn-log a {
  text-decoration: none;
  color: lemonchiffon;
  font-size: x-large;
}
.imgoGgle {
  height: 30px;
  width: 30px;
}
.Box {
  color: #8c4c17;
  width: 90%;
  height: 40%;
  border-radius: 5px;
  margin-left: 5%;
  background-color: #e0d49652;
  box-shadow: rgba(0, 0, 0, 0.25);
  display: inline-grid;
}
.imgregister {
  margin-left: 40%;
}
.btnRegister a {
  text-decoration: none;
  color: #ffffb0;
  font-weight: bold;
}
.btnRegister {
  height: 25%;
  width: 25%;
  margin-left: 35%;
  margin-top: 10%;
}
